.btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    font-size: 0.88rem;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    transition: translate 180ms, opacity 180ms;
    opacity: 0.7;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    translate: 1px, 1px;
}

.btn--nav {
    color: var(--text-color);
    padding: 12px;
}

.btn--raised {
    background-color: var(--primary);
    color: var(--black);
    padding: 12px 53px 12px 24px;
    background-image: url("../assets/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.btn--line{
    display: inline-block;
    position: relative;
    color: var(--text-color);
    padding: 12px;
}

.btn--line::before{
    content: "";
    background-image: url("../assets/bunny.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    left: -12px;
    top: 13px;
    position: absolute;
    width:20px;
    height: 20px;
    padding: 10px;
    filter: invert(41%)
sepia(36%)
saturate(4811%)
hue-rotate(183deg)
brightness(108%)
contrast(102%);
}

.btn--line:hover{
    color: var(--primary);
}

.btn--line::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn--line:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}